{% include 'head.html' %}
{% load widget_tweaks %}


    <div class="az-content pd-y-20 pd-lg-y-30 pd-xl-y-40">
      <div class="container">
        <div class="az-content-left az-content-left-components">
          <div class="component-item">
            <label>USER MANAGEMENT</label>
            <nav class="nav flex-column">
              <a href="/new_registration/" class="nav-link active">New Registration</a>
              <a href="/view_registration/" class="nav-link">View Registration</a>
            </nav>
           

            
          </div><!-- component-item -->

        </div><!-- az-content-left -->
        <div class="az-content-body pd-lg-l-40 d-flex flex-column">
          {% include 'message.html' %}
          <div class="az-content-breadcrumb">
            <span>Components</span>
            <span>Tables</span>
            <span>Basic Tables</span>
          </div>
          
          <div class="az-content-label mg-b-5">REGISTRATION</div>
          <p class="mg-b-20">New User registration Form</p>
        

          <form method="POST" action="" enctype="multipart/form-data">
          {% csrf_token %}
          <!--{{ userform.as_p }}-->
          
          <div class="row row-sm">
            <div class="col-lg">
              <label for="id_first_name">Username:</label>
              {{userform.username|add_class:"form-control" }}
            </div><!-- col -->
            <div class="col-lg mg-t-10 mg-lg-t-0">
              <label for="id_password1">Password:</label>
              {{userform.password1|add_class:"form-control" }}
            </div><!-- col -->
            <div class="col-lg mg-t-10 mg-lg-t-0">
              <label for="id_password2">Confirm Password:</label>
              {{userform.password2|add_class:"form-control" }}
            </div><!-- col -->
          </div><!-- row -->
          <div class="mg-t-20">
            <div class="row">
              <div class="col-lg-3">
                <label class="ckbox">
                  {{ userform.is_active|add_class:""}} 
                  <span>make it ACTIVE</span>
                </label>
              </div><!-- col-3 -->
              <div class="col-lg-3">
                <label class="ckbox">
                  {{ userform.is_staff|add_class:"minimal" }} 
                  <span>Make it STAFF</span>
                </label>
              </div><!-- col-3 -->
              <div class="col-lg-3">
                <label class="ckbox">
                  {{ userform.is_superuser|add_class:"minimal" }} 
                  <span>Make it SUPERUSER</span>
                </label>
              </div><!-- col-3 -->
              
            </div>



          <div class="mg-t-20">
          
          <div class="row row-sm">
            <div class="col-lg">
              <label for="id_first_name">First name:</label>
              <input type="text" name="first_name" maxlength="200" class="form-control" placeholder="First name" required="" id="id_first_name">
            </div><!-- col -->
            <div class="col-lg mg-t-10 mg-lg-t-0">
              <label for="id_last_name">Last name:</label>
              <input type="text" name="last_name" maxlength="200" class="form-control" placeholder="Last name" required="" id="id_last_name">
            </div><!-- col -->
            <div class="col-lg mg-t-10 mg-lg-t-0">
              <label for="id_phone">Phone:</label>
              <input type="text" name="phone" maxlength="200" class="form-control" placeholder="Phone" required="" id="id_phone">
            </div><!-- col -->
          </div><!-- row -->

          <div class="row row-sm mg-t-20">
            <div class="col-lg">
              <label for="id_email">Email:</label>
              {{form.email|add_class:"form-control" }}
            </div><!-- col -->
            <div class="col-lg mg-t-10 mg-lg-t-0">
              <label for="id_address">Address:</label>
              {{form.address|add_class:"form-control" }}
            </div><!-- col -->
            <div class="col-lg mg-t-10 mg-lg-t-0">
              <label for="id_registered_name">Registered name:</label>
              {{form.registration_number|add_class:"form-control" }}
            </div><!-- col -->
          </div><!-- row -->

          <div class="row row-sm mg-t-20">
            <div class="col-lg">
              <label for="id_usertype">Usertype:</label>
              <select name="usertype" class="form-control"  id="id_usertype">              
                <option value=''>---------</option>
                {%for type in group_type %}
              <option value={{type}}>{{type}}</option>
              {% endfor %}
              </select>
            </div><!-- col -->
            <div class="col-lg mg-t-10 mg-lg-t-0">
              <label for="id_registered_name">Registered name:</label>
              {{form.registered_name|add_class:"form-control" }}
              <input type="hidden" name="username" maxlength="30" class="form-control" placeholder="Username" required="" id="uid_username">
              <input type="hidden" name="password" maxlength="128" class="form-control" placeholder="Password" required="" id="uid_password">
            </div><!-- col -->

          </div><!-- row -->

          <div class="row row-sm mg-t-20">
            <div class="col-lg mg-t-10 mg-lg-t-0">
              <label for="id_status">Status:</label>
              <select name="status" class="form-control" placeholder="Status" id="id_status">              
                <option value="True">Yes</option>
                <option value="False">No</option>
              </select>
            </div><!-- col -->
            <div class="col-lg mg-t-10 mg-lg-t-0">
              <label for="id_master_key">Master key:</label>
              {{form.master_key|add_class:"form-control" }}
              
            </div><!-- col -->
            <div class="col-lg mg-t-10 mg-lg-t-0">
              <label for="id_uuid">UID Key:</label>
              {{form.uuid|add_class:"form-control" }}
              
            </div><!-- col -->
          </div><!-- row -->
          <div class="mg-t-20">
          <button type="submit" class="btn btn-indigo btn-rounded btn-block">Register</button>
          </div>
        </form>

          <div class="ht-40"></div>
          {% include 'footer.html' %}




